target
tags
.eclipse_workspace
.classpath
.project
.settings
.DS_Store
.idea
.vscode
*.iml
.*.swp
*.tokens
.m2/repository/
*.log
venv
pom.xml.versionsBackup
__pycache__
*dump*
access-key.sh
certs.json
.terraform
.terraform*
*.tfstate
*.tfstate.backup
python/generated/
node_modules
cli
.vite
generated
