target
tags
.eclipse_workspace
.classpath
.project
.settings
.DS_Store
.idea
.vscode
*.iml
.*.swp
*.tokens
.m2/repository/
*.log
venv
pom.xml.versionsBackup
__pycache__
*dump*
access-key.sh
certs.json
.terraform
.terraform*
*.tfstate
*.tfstate.backup
iou-python-client
node_modules
cli
.vite
*.zip
bash
*-openapi.yml
npl-contrib.properties
.claude
.cursorrules