body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: #fafafb;
    color: #2c3e50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

* {
    box-sizing: border-box;
}
